@import '../../styles/colors';

.cantainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 0.5px solid $border-color;
    position: relative;
    margin-bottom: 38px;
    .logo{
        align-self: flex-end;
        cursor: pointer;
    }
    .auth {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
    }
    .toggle{
        position: absolute;
        right: 0;
        bottom: -34px;
    }

}

.light{
    color: $text-color;
}
.dark{
    color: $text-color-dark;
}