@import "../../styles/colors";

.cantainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 0.5px solid $border-color;
    position: relative;
    margin-bottom: 38px;
    .logo {
        align-self: flex-end;
        cursor: pointer;
    }
    .auth {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
    }
    .toggle {
        position: absolute;
        left: 0;
        bottom: -34px;
    }
    .leftbox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        &:hover .dropdownContent {
            display: flex;

            cursor: pointer;
            div {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }
        .user {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            img {
                width: 30px;
            }
            p {
                font-weight: 500;
            }
            svg {
                padding-top: 3px;
            }
        }
        .dropdownContent {
            display: flex;
            display: none;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            justify-items: center;
            position: absolute;
            width: 100%;
            @include box-shadow;
            border-radius: 7px;
            padding: 16px 20px;
            font-weight: 600;
            z-index: 1;
        }
    }

    .notification,
    .messages,
    .feeds {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }
}

.light {
    color: $text-color;
    .menu {
        background: white;
    }
    .dropdownContent {
        background: white;
    }
}
.dark {
    color: $text-color-dark;
    .menu {
        background: $second-background-dark;
    }
    .dropdownContent {
        background: $second-background-dark;
    }
}
