@import "../../styles/colors";

.button {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover {
        background: #dd2250;
    }
}

.primary {
    background-color: $main-color;
    color: white;
}
.ghost {
    background: transparent;
    border: 1px solid $main-color;
    color: $main-color;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: transparent;
        color: #dd2250;
    }
}
.text {
    background: transparent;
    border: none;
    font-weight: 600;
    color: $main-color;
}
