// COMMON
$main-color: #F53060;
$border-color: #9a9a9a;

// LIGHT
$text-color: #2C2C2C;
$background: #ffffff;
$second-background: #ffffff;
$component-color: #f4f4f4;


// DRAK
$text-color-dark: #ffffff;
$background-dark: #000000;
$second-background-dark: #171717;
$component-color-dark: #252525;
