// COMMON
$main-color: #f53060;
$border-color: #9a9a9a;

// LIGHT
$text-color: #2c2c2c;
$background: #ffffff;
$second-background: #ffffff;
$component-color: #f4f4f4;

// DRAK
$text-color-dark: #ffffff;
$background-dark: #000000;
$second-background-dark: #171717;
$component-color-dark: #252525;

@mixin box-shadow {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
